body {
    display: flex;
    background-color: yellow;
    margin: 0;
}

.sidebar--contain {
    width: 20vw;
    height: 100vh;
    background-color: red;
    overflow-y: scroll;
}

.content--contain {
    width: 80vw;
    background-color: blue;
}